*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Ciclo 1/nbproject/private/
/Ciclo 1/build/
/Ciclo1/nbproject/private/
/Ciclo1/build/
/EasyTranslation/nbproject/private/
/EasyTranslation/build/